body {
    background-image: url("/static/main_page.png");
    background-size: 100%;
}
input[type="submit"] {
    border-radius: 5%;
    position: relative;
    font-size: 250%;
    font-family: "Serif", "Times New Roman", "Arial";
    left: 75%;
    margin-top: 40%;
    width: 20%;
    height: 20%;
}