body {
    background-image: url("/static/user_select.png");
    background-size: 100%;
}
div#div_main {
    position: relative;
    margin-top: 28%;
    margin-left: 20%;
    height: 20%;
}
img.user_icon {
    height: 15%;
    width: 15%;
    cursor: pointer;
}
button[type="submit"] {
    border: none;
    background-image: url("/static/default_user_icon.png");
    background-size: 100%;
    padding: 5px;
}