<!DOCTYPE html>
<html>
<head>
    <title>FitQuest: Choose user profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_select.css') }}">
    <!-- Turns out, jQuery AJAX and Python Flask don't mix well together.
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script> -->
</head>

<body>
<!-- Page recipe -->
<div id="div_main">
    <div id="form_container">
    {% for i in range(0,5) %}
    <div class="img_container">
        <a href="/routine/user_id={{i}}">
        <img
            class="user_icon"
            src="/static/default_user_icon.png"
            id="user_{{i}}">
        </a>

        <p class="user_flavor_text">
            User {{i}}
        </p>
    </div>
    {% endfor %}
    </div>
</div>

<!-- Page response (Probably offload this one to an external javascript file next time.)
<script>
// Use jQuery to add a click event handler to the image
$(document).ready(function () {
function sendClickedUserIcon(i) {
    var currentURL = window.location.href;
    $.ajax({
        type: 'POST',
        url: currentURL,
        data: JSON.stringify({"user_index": i}),
        contentType: 'application/json',
    });
};
for (let i = 0; i < 5; i++) {    
    $("#user_" + i).click(function() {
        sendClickedUserIcon(i);
    });
};
});
</script> -->

</body>

</html>