{% extends "fitquest_template.html" %}
{% block title %}
    FitQuest: Select your routine
{% endblock %}
{% block header_data %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_premade_routine.css') }}">
{% endblock %}
{% block content %}
    <div id="page_flavor_text">
        READY-MADE ROUTINE
    </div>
    <a class="btn btn-light" id="routine_start" href="/user_id={{id}}/ready">START</a>
    <div class="routine_container">
        <div class="routine_option">
            <button type="button" class="btn btn-light" id="routine_option_1"></button>
            <p class="routine_text">Routine 1</p>
        </div>
    </div>
    <script src="/static/javascript/user_premade_routine.js"></script>
{% endblock %}